<strong>Olá, {{user}} </strong>
<p>Olá você recebeu uma nova inscrição, confira os detalhes abaixo.</p>
<p>
    <strong>Cliente: </strong> {{registered}} <br />
    <strong>MeetApp: </strong> {{meetapp}} <br />
    <br />
</p>